body {
  background-color: #143D59;
  color: #f4b41a;
  font-family: Calibri;
}

ul {
 font-size: 24px; 
}

p {
  font-size: 24px; 
}

h1 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
