body {
  background-image: linear-gradient(45deg, #cc2b5e, #753a88);
  color: #fff;
  font-family: Calibri;
}

ul {
 position: absolute;
 font-size: 24px; 
 top: 30%;
 left: 50%;
 transform: translate(-50%, -50%);
 text-decoration: none;
}

ul li{
display: inline-block;
}

ul li a{
 color: #fff;
 padding: 10px 40px;
 border: 1px solid white;
}

p {
  position: absolute;
  font-size: 24px; 
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
